@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>ORT WORLD</h1>
    <p>Bienvenidos al sitio web oficial de ORT WORLD</p>
    <img src="~/img/mundo.gif" alt="EL MUNDO EN MOVIMIENTO">
    <p>PLANIFICA TU VIAJE: ¡¡LOS PAQUETES TURISTICOS MÁS BARATOS!!</p>
    <p><a href='@Url.Action("Index")'>Armar paquete</a></p>
</div>
