html {
  font-size: 14px;
  min-height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

header, footer {
  background: #8a2be2;
  padding: 5px 3%;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header p {
  font-family: "Chivo Mono", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin: 0;
}
header a {
  color: #c9f39e;
  text-decoration: none;
}
header ul {
  list-style: none;
  margin: 0;
}
header li {
  float: left;
  margin-right: 5px;
}
header a:hover { color: #ffffff; }

h1, h2 {
  font-family: "Chivo Mono", sans-serif;
}
main h1, main p, main section { margin: 5px 3%; }
section p, div p, footer p {
  clear: both;
  margin: 3px;
}

section {
  background: #f8f9fa;
  padding: 1%;
  border-radius: 5px;
  clear: both;
}
div {
  background: #e8e9ea;
  margin-bottom: 1%;
  padding: 1%;
  border-radius: 5px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ol, .galeria {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
ol li, .galeria div {
  width: 18%;
}
ol img, .galeria div img {
  width: 100%;
}

.boton, input[type=submit] {
  background: #8a2be2;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  text-decoration: none;
  padding: 3px;
  border: solid 1px #5500a4;
  border-radius: 3px;
}
.boton:hover, input[type=submit]:hover {
  background: #9850db;
  color: #c9f39e;
}

footer p {
  color: #c9f39e;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}